<div id="existing_todos">
    <h2>Your Todos</h2>
    
    <ul class="todo_list">
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo adipisicing
            <div class="due_date">
                Due today!
            </div>
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo elit
            <div class="due_date">
                Due tomorrow
            </div>
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo sed
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo do
            <div class="due_date">
                Due in 4 days
            </div>
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo eiusmod
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo tempor
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo incididunt
            <div class="due_date">
                Due in 1 week
            </div>
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item" title="Mark Complete">&#10004;</a>
            Todo ut
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <a href="#" class="check_item">&#10004;</a>
            Todo labore
            <div class="due_date">
                Due in 3 weeks
            </div>
            <a href="#" class="reassign_item" title="Assign to...">&#10150;</a>
            <a href="#" class="delete_item" title="Delete...">&#10008;</a>
        </li>
        <li>
            <form action="#" method="post" accept-charset="utf-8" id="add_item">
                <label for="todo_item">New</label>
                <input type="text" name="todo_item" value="" id="todo_item" size="64" />
                <label for="due_date">Due</label>
                <input type="date" name="due_date" value="" id="due_date" size="8" />
                <input type="submit" value="Add &rarr;" />
            </form>
        </li>
    </ul>
</div>
