<div id="incoming_todos">
    <h2>Incoming Todos</h2>
    
    <h3 class="todo_source">From Dexter Morgan</h3>
    <ul class="todo_list">
        <li>
            Todo lorem
            <div class="control_incoming_item">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </li>
        <li>
            Todo ipsum
            <div class="control_incoming_item">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </li>
        <li>
            Todo dolor
            <div class="control_incoming_item">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </li>
    </ul>
    
    <h3 class="todo_source">From Admiral Adama</h3>
    <ul class="todo_list">
        <li>
            Todo sit
            <div class="control_incoming_item">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </li>
        <li>
            Todo amet
            <div class="control_incoming_item">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </li>
        <li>
            Todo consectetur
            <div class="control_incoming_item">
                <button>Accept</button>
                <button>Reject</button>
            </div>
        </li>
    </ul>
</div>
