<h2>We Take the 'l' of Checklists!</h2>
<p>...and no, we don't know what that means exactly, but it sounds good doesn't it?</p>
<p><%= link_to "Log in", signin_path, {'class' => 'authLink'} %> if you're an existing user or please <%= link_to "sign up", signup_path, {'class' => 'signupLink'} %> if you're new, and you can start making checkists in a matter of minutes!</p>
