body { background-color: #ffcc70; }

header {
    background-color: #ff692d;
    border-bottom: 2px groove threedface;
    position: absolute;
    padding: 4px 0 4px 4px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3.5em;
}

header h1 { margin: 0px; }

a.authLink {
    position: absolute;
    right: 8px;
    top: 4px;
}
a.signupLink {
    position: absolute;
    right: 8px;
    bottom: 4px;
}

div#content { margin-top: 4.5em; }

ul.todo_list { list-style: none; }

div#incoming_todos ul.todo_list {
    padding: 0 0 0 3em;
}

ul.todo_list li {
    background-color: #f9f9f9;
    font-size: 2.5em;
    margin-bottom: .4em;
    padding-left: .4em;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    position: relative;
}

div#incoming_todos ul.todo_list li {
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
}

div#existing_todos ul.todo_list { padding: 0 3em 0 0; }

div#existing_todos ul.todo_list li {
    border-top-right-radius: .4em;
    border-bottom-right-radius: .4em;
}

a.check_item:link,    a.check_item:visited,
a.reassign_item:link, a.reassign_item:visited,
a.delete_item:link,   a.delete_item:visited,
.control_incoming_item a:link, .control_incoming_item a:visited {
    text-decoration: none;
    color: #222;
}

.control_incoming_item a:hover { text-decoration: underline; }

a.check_item:hover { color: #090; }

a.delete_item:link {
    position: absolute;
    right: .4em;
}

a.delete_item:hover { color: #900; }

a.reassign_item:link {
    position: absolute;
    right: 1.4em;
}

a.reassign_item:hover { color: #00c; }

div.control_incoming_item {
    font-size: .7em;
    position: absolute;
    right: 2em;
    bottom: .1em;
}

form#new_todo, form#assign_form { font-size: .6em; }

form#new_todo input,    form#new_todo label,
form#assign_form input, form#assign_form label {
    margin: .3em;
}

div.due_date {
    font-size: .5em;
    position: absolute;
    right: 5.4em;
    bottom: .3em;
}

div.pending_due_date {
    font-size: .5em;
    position: absolute;
    right: 13.4em;
    bottom: .3em;
}

div.assigned_from {
    font-size: .5em;
    position: absolute;
    right: 23.4em;
    bottom: .3em;
}